name: Deploy to Termux

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.TERMUX_HOST }}        # IP телефона (192.168.1.138)
        port: ${{ secrets.TERMUX_PORT }}        # 8022
        username: ${{ secrets.TERMUX_USER }}    # u0_a352
        key: ${{ secrets.TERMUX_SSH_KEY }}      # приватный ключ
        script: |
          cd ~/termux-test
          git pull
          pkill -f webka.py || true
          nohup python webka.py > webka.log 2>&1 &
