name: Deploy to Termux
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.PUBLIC_IP }}     # Внешний IP роутера
        port: ${{ secrets.PORT }}           # Проброшенный порт (например 8022)
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ~/termux-test
          git pull
          pkill -f webka.py || true
          python webka.py &
